.bash_history
.wget-hsts
bin/
container/opt/
container/home/yocto/.bash_history
container/home/yocto/.python-history
container/home/yocto/.subversion/
container/home/yocto/.wget-hsts
container/home/yocto/var-fslc-yocto/
